<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.custom.TenantPermRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniu.entity.UcTenantPermRelation">
        <result column="tenant_id" property="tenantId" />
        <result column="created_by" property="createdBy" />
        <result column="created_by_name" property="createdByName" />
        <result column="created_at" property="createdAt" />
        <result column="permission_id" property="permissionId" />
    </resultMap>

    <resultMap id="PermissionDetailResultMap" type="com.woniu.dto.PermissionDetailDTO">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tenant_id,
        created_by,
        created_by_name,
        created_at,
        permission_id
    </sql>
    
    <select id="selectPermissionIdList" parameterType="java.lang.Long" resultMap="PermissionDetailResultMap">
        SELECT
            up.id id,
            up.NAME name,
            up.type type,
            up.parent_id parent_id
        FROM
            uc_tenant_perm_relation utpr
            LEFT JOIN uc_permission up ON utpr.permission_id = up.id
        WHERE
            utpr.tenant_id = #{tenantId}
    </select>

    <select id="getTenantAllPermByTenantId" resultType="java.lang.Long">
        select permission_id from uc_tenant_perm_relation where tenant_id = #{tenantId}
    </select>

    <select id="getTenantAllPerm" resultType="java.lang.Long">
        select permission_id from uc_tenant_perm_relation
    </select>


    <delete id="removeByTenantId">
        DELETE FROM uc_tenant_perm_relation WHERE tenant_id = #{tenantId}
    </delete>

</mapper>
