<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.UcPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniu.entity.UcPermission">
        <result column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="created_by_name" property="createdByName" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="parent_id" property="parentId" />
        <result column="url" property="url" />
        <result column="display_order" property="displayOrder" />
        <result column="icon" property="icon" />
        <result column="visible" property="visible" />
        <result column="is_tenant" property="isTenant" />
        <result column="allow_vend" property="allowVend" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_at,
        created_by,
        created_by_name,
        name, code, type, parent_id, url, display_order, icon, visible, is_tenant, allow_vend
    </sql>

</mapper>
